.italics-header {
  font-family: 'Pacifico', cursive;
  position: relative;
  display: table;
  margin: 0 auto;
}
body {
  background: #fcf1d4;
}
.logo-img {
  float: left;
  width: 100%;
  height: auto;
}
.main-header {
  height: 50px;
}
.sample-user {
  display: table;
  margin: 0 auto;
  border-radius: 45px;
  width: 80%;
  height: auto;
}
