.no-top-margin {
	margin-top: 0px;
}

#logo {
	padding-top: 15px;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#green {
	background-color: #007300;
}

#teacherinbox {
	width: 100%;
	float: float;
}

#heading {
	color: #F5F5F5;
	background-color: #007300;
}

#tdata {
	background-color: #F5F5F5;
}

#unread {
	background-color: #DCDCDC;
}

#needspadding {
	padding-top: 30px;
}

#promise {
	width:100%;

}

#login {
	background-color: #007300;
}

#space {
	padding-top: 10px;
}

#hth {
	width:100%;
	border-radius: 10px;
}