body{
  margin:0;
  padding:0;
}

div {
	border: 1px solid white;
}

#one {
	height: 105px;
	width: 1380px;
	border: none;
	border-radius: 5px;
	background-color: #C0C0C0;
}

#two {
	height: 400px;
	width: 1100px;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin: auto;

}

#three {
	height: 110px;
	width: 1350px;
	border-radius: 5px;
	background-color: #FFFFFF;
}